body {
    font-family: Verdana;
    background-color: #f4f4f4;
    position: relative;
}


h1 {
    text-align: center;
}

/* Create Button */
.createBtn {
    position: relative;
    padding: 10px 20px;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 23px;
    float: right;
    right: 5%;
}

/* Hover effect */
.createBtn:hover {
    background-color: rgb(148, 145, 145);
}


/* Table */

#goodsReceiptList table {
    width: 90%;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 20px;
    margin-left: 5%;
    table-layout: fixed;
}

#goodsReceiptList thead {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

/*Table Heading Width*/
#goodsReceiptList #sno {
    width: 5%;
}

#goodsReceiptList #list-receiptId {
    width: 15%;
}

#goodsReceiptList #list-receiptDate {
    width: 15%;
}

#goodsReceiptList #list-vendor {
    width: 30%;
}

#goodsReceiptList #list-productList {
    width: 20%;
}

#goodsReceiptList #action {
    width: 5%;
}


i {
    cursor: pointer;
}

#receiptTable th,
#receiptTable td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;

}

#receiptTable td{
  background-color: rgb(255, 255, 255);
}

#receiptTable th {
    background-color: #717171;
    font-weight: bold;
}

#receiptTable .tableHeader th {
    background-color: rgb(199, 199, 199);

}

/* tr:nth-child(even) {
    background-color: rgba(167, 167, 167, 0.3);
  } */

#receiptTableBody .action {
    text-align: center;
}


/* table end */

/* Hidden Table */


#list-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#list-popupDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.list-pop-heading {
    margin-left: 4%;
}

.list-pop-heading p {
    margin: 10px;
}

.closebtn {
    position: absolute;
    top: -16px;
    right: -11px;
    opacity: 1;
}

/* Hidden Box - Delete */

#list-d-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#list-d-popupDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.list-deletebtns {
    display: flex;
    justify-content: center;
}

.list-deletebtns button {
    margin-right: 2%;
    cursor: pointer;
}

#viewLineItem {
    cursor: pointer;

}








/* -----------------goods receipt ------------------------*/


#goodsReceiptForm {
    position: absolute;
    z-index: 1000;
    top: 10px;
}

/* form style */
.form {
    width: 70%;
    margin: auto;
    margin-top: 1px;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
}

.form h1 {
    text-align: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.attribute label,
.section2 label {
    margin-top: 5px;
    color: #333;
}

.attribute input {
    margin-top: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(55% - 16px);
}

.section2 {
    margin-top: 20px;
}

.select {
    margin-top: 0px;
    margin-bottom: 35px;
    margin-right: 8px;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 89.1%;
}

#productSelect {
    margin-top: 5px;
    margin-bottom: 35px;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 16px);
}


/* product operations feildset */
fieldset {
    position: relative;
    border-color: #f4f4f4;
}

.productOperation {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.productOperation input {
    margin-top: 5px;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(55% - 16px);
}

#productSelect {
    margin-top: 5px;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(70% - 16px);
}


.button {
    display: flex;
    justify-content: center;

}

.button button {
    margin: 10px;
    cursor: pointer;
}

#rqa {
    position: relative;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    max-height: 272px;
    margin-top: 20px;
    table-layout: fixed;
    border: 1px solid #ddd;
}

thead {
    position: sticky;
    top: 0;
    background-color: #ddd;
    z-index: 1;
}

/*Table Heading Width*/

#sno {
    width: 10%;
}

#product {
    width: 35%;
}

#edate {
    width: 15%;
}

#rq {
    width: 20%;
}

#uom {
    width: 15%;
}

#action {
    width: 10%;
    /* Adjusted from 15% to add up to 100% */
}

i {
    cursor: pointer;
}

th,
td {

    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tableHead {
    background-color: rgb(148, 145, 145);
    border: none;
}

/* tr:nth-child(even) {
    background-color: rgba(167, 167, 167, 0.3);
  } */

table .action {
    text-align: center;
}

tbody tr td input {
    width: calc(100% - 16px);
    padding: 6px;
    box-sizing: border-box;
}

.submitbtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.submitbtn button {
    width: 150px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitbtn button:hover {
    background-color: rgb(148, 145, 145);
}

.editIcon {
    opacity: 0.5;
}

/*delete popup */

#popupContainer {
    position: relative;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#popupDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.deletebtns {
    display: flex;
    justify-content: center;
}

.deletebtns button {
    margin-right: 2%;
    cursor: pointer;
}

/* Errors */
.qerror::before {
    content: '*Invalid Quantity';
    position: absolute;
    top: -18px;
    left: 40%;
    color: rgb(238, 35, 35);
    font-size: 19px;
}

.error::before {
    content: '*Product already added';
    position: absolute;
    top: -20px;
    left: 8%;
    color: rgb(238, 35, 35);
    font-size: 19px;
}

.derror::before {
    content: '*Invalid Date';
    position: absolute;
    top: -16px;
    color: rgb(238, 35, 35);
    font-size: 17px;
}

.qRerror::before {
    content: '*required';
    position: absolute;
    top: -18px;
    left: 40%;
    color: rgb(238, 35, 35);
    font-size: 19px;
}

.Rerror::before {
    content: '*Select Product';
    position: absolute;
    top: -20px;
    left: 8%;
    color: rgb(238, 35, 35);
    font-size: 19px;
}

.required {
    color: red;
}

.fieldsetError {
    position: absolute;
    top: -70px;
    left: 40%;
    color: red;
}